{% extends "common/appDetailPage.html" %}
{% block header %}
    {% include "twitter/twitterHeader.html" %}
{% endblock %}
{% block Links %}
    {% include "twitter/twitterLinks.html" %}
{% endblock %}
{% block appDetails %}
    <div class="row">
        <div class="span9" id="content">
            {% block appDetailContent %}
                {% include "twitter/twitterAppDetailContent.html" %}
            {% endblock %}
            {% block comment %}
                {% include "common/comment.html" %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
