{% extends "common/appDetailPage.html" %}
{% block header %}
    {% include "facebook/facebookHeader.html" %}
{% endblock %}
{% block Links %}
    {% include "facebook/facebookLinks.html" %}
{% endblock %}
{% block appDetails %}
    <div class="row">
        <div class="span9" id="content">
            {% block appDetailContent %}
                {% include "facebook/facebookAdminApp/facebookAppDetailContent.html" %}
            {% endblock %}
            {% block comment %}
                {% include "facebook/facebookComment.html" %}
            {% endblock %}
        </div>
    </div>
{% endblock %}