{% extends "header.html" %}
{% block login %}
    {% if not authorized %}
        <div class="span9">
            <p class="pull-right">
                <a onclick="location.href='/authorize/facebook?redirect={{ request.url }}'"><img
                        src="{{ url_for('static', filename = 'images/facebook-login-button.png') }}"></a>
            </p>
        </div>
    {% endif %}
    {% if authorized %}
        <div class="span9">
            <p class="pull-right">
                Hi , {% print(name) %}
                <img src="https://graph.facebook.com/{% print(id) %}/picture"></a>
            </p>
        </div>
    {% endif %}
{% endblock %}