{% block app %}
    {% for app in pageAppList %}
        <li class="span3">
            <div class="thumbnail">
                <a onclick="location.href= '/facebook/appDetails/{{ app.AppID }}'"><img
                        src="{{ url_for('static', filename='' + app.AppImage) }}"
                        alt="thumbnail">
                </a>
                <div class="caption">
                    <h2>{{ app.AppName }}</h2>
                    <p>{{ app.AppDescription }}</p>

                    <hr>
                    <div style="text-align: center;">
                        <a onclick="location.href='/facebook/appDetails/{{ app.AppID }}'" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-star"></span>use →</a>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
{% endblock %}