{% block appDetailContent %}
   <div>
        <ul class="thumbnails">
            <li class="span9">
                <div class="thumbnail">
                    {% if authorized %}
                        <a onclick="location.href='/facebook/runApplication/{{ appDetails.AppID }}'"><img
                                src="{{ url_for('static', filename='' + appDetails.AppSourceImage) }}" alt="thumbnail"></a>
                    {% else %}
                        <div class="img-app">
                            <img src="../../static/images/bg.jpg" class="img-responsive">
                            <a href="{{ url_for('/authorize/facebook', redirect="/facebook/createApp")}}">
                                <img class="img-login img-responsive" src="{{ url_for('static', filename='images/common/facebook-login-button.png') }}"></a>
                        </div>
                    {% endif %}
                </div>
            </li>
        </ul>
   </div>
{% endblock %}