{% extends "common/appDetailPage.html" %}
{% block header %}
    {% include "facebook/common/facebookHeader.html" %}
{% endblock %}
{% block Links %}
    {% include "facebook/common/facebookLinks.html" %}
{% endblock %}
{% block appDetails %}
    <div class="row">
        <div class="span9" id="content">
            {% block appDetailContent %}
                {% include "facebook/facebookUserApp/AuthLogin/facebookLoginTemp.html" %}
            {% endblock %}
        </div>
    </div>
{% endblock %}