{% block facebookShare %}
    <a target="_blank"
       href="https://www.facebook.com/dialog/share?app_id=1686276391610614&amp;display=popup&amp;href=http://jsapps.co/facebook/appDetails/{{ appDetails.AppID }}&amp;picture=http://jsapps.co/static/{{ appDetails.AppResultImage }}&amp;name={{ name }}&amp;description={{ appDetails.AppDescription }}&amp;redirect_uri=http://jsapps.co">
        <img class="img-responsive" src="{{ url_for('static', filename='images/common/share-facebook.png') }}"></a>

{% endblock %}