{% block pagination %}
    <ul>

        <li><a href="http://wbpreview.com/previews/WB0B014PP/#">Prev</a></li>

        <li class="active">
            <a href="http://wbpreview.com/previews/WB0B014PP/#">1</a>
        </li>
        <li><a href="http://wbpreview.com/previews/WB0B014PP/#">2</a></li>
        <li><a href="http://wbpreview.com/previews/WB0B014PP/#">3</a></li>
        <li><a href="http://wbpreview.com/previews/WB0B014PP/#">4</a></li>

        <li><a href="http://wbpreview.com/previews/WB0B014PP/#">Next</a></li>
    </ul>
{% endblock %}